/*
				Version 2.0
				Stylesheet by miss_molotov
                Created November 2016, first used on r/PS4Pro.
				Last modified: 05 June 2017
				Details: This is a custom template called 'Lara' made by u/miss_molotov
				-------------------------------------------------------------------------- */

body {
    /*background-image: url(%%track-5%%);*/
}

p, table, li {
    color: #0c0c0c;
}

th {
    background-color: #1668c3;
    color: #999998;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    color: #1668c3;
}

.md p {
    color: #0c0c0c;
}

a { color: #f11515; }

a:visited { color: #d41414; }

a:hover { color: #fe1616; }

a:active { color: #fe1616; }

a.title {
    color: #f11515;
}


a.title:visited {
    color: #d41414 !important;
}

a.title:hover {
    color: #fe1616;
}


a.title:active {
   color: #fe1616;
}



.side li {
    margin-bottom: 10px
}

.side {
   background-color: transparent;
}

#header {
    background-color: #ffffff;
    height: 160px;
}

/* removes Reddit logo */

#header-img.default-header {
    background: url(%%Medal-Logo%%);
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 0px;
    width: 126px;
    height: 100px;
    margin-top: 5px;
    margin-right: 19px;
    margin-left: 12px;
    float: left;
}


.redditname a {
    background: url(%%WipEout-Omega-Collection-long-red-logo%%);
    background-repeat: no-repeat;
    display: block;
    width: 411px;
    height: 100px;
    float: left;
    font-size: 0px;
    margin-top: 18px;
}

/* 
(top menu under header) */

#header .tabmenu {
  font-size: 14px;
  position: absolute;
  top: 140px;
  left: 0px;   
  background-color: #fcfcfc;
  margin: 0px;
  width: 100%;
  font-family: 'Arial Bold', Arial,Helvetica, sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 10px 0px 0px 0px;
  border-bottom: 4px solid #000000;
  /*-moz-border-image: -moz-linear-gradient(to left, #0c0c0c 0%, #1668c3 100%); 
  -webkit-border-image: -webkit-linear-gradient(to left, #0c0c0c 0%, #1668c3 100%);
  border-image: linear-gradient(to left, #0c0c0c 0%, #1668c3 100%);
  border-image-slice: 1;*/
}

#header .tabmenu li {
  margin: 0px 0px; 
}

#header .tabmenu li:nth-of-type(1) {margin-left: 4px;}

#header .tabmenu li a {
  background-color: #fcfcfc;
  color: #98aaa9;
  transition: padding 0.5s;
 
}

#header .tabmenu li a:hover {
    padding-left: 11px;
    border-bottom: solid 4px transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #F11515;
    background: url(%%menu-selected-red%%) no-repeat;
    background-position-y: 5px;
}

#header .tabmenu li a:active {
    background-color: #0c0c0c; 
    transition: all 0s
}

#header .tabmenu li.selected a {
    padding-left: 11px;
    border-bottom: solid 4px transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #000000;
    background: url(%%menu-selected-black%%) no-repeat;
    background-position-y: 5px;
}

/* Karma and preferences bar */

#header-bottom-right {
    position: absolute;
    background-color: #fcfcfc;
    padding: 0px 15px 0px 5px;
    line-height: 12px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 0px;
    top: 20px;
    bottom: 0px;
    height: 15px;

}

#header-bottom-right a {
    color: #98aaa9;
}

.user {
    color: #cccccc;
}

/* subreddit select bar */

/*

#sr-header-area  {
    background-color: #000000;
    color: #98aaa9;
}

*/

#ad_main_top {
    position: relative;
    right: 10px;
}

#ad_main {
    position: relative;
    right: 10px;
    top: -35px;
}

.link .rank {
    top: 6px;
    position: relative;
}

/* Sidebar text positioning */

.titlebox {
    background-color: #ffffff;
    position: relative;
    top: -45px;
    right: 10px;
    padding: 5px;
}

/* Sidebar Contents Formatting */

.side .md ul {
    list-style-type: square;
}

.side .md li {
    margin-left: -25px;
    color: #7C7C7C;
}

.side .md a { color: #f11515; }

.side .md a:visited { color: #d41414; }

.side .md a:hover { color: #fe1616; }

.side .md a:active { color: #fe1616; }

/*

.tagline a {
    color: #ff8800;
}

.tagline a:hover {
    color: #ffaf02;
}

.tagline a:active {
    color: #fca541;
}

.tagline a:visited {
    color: #f48404;
} */

.sidecontentbox .content {
    margin: 0;
    padding: 5px;
    border: 0px solid gray;
    font-size: larger;
    list-style: none;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.sidecontentbox .title h1 {
    color: #1668c3;
}

.icon-menu a {
    background: transparent none no-repeat scroll center left;
}


.side .md h2 {
    color: #999998;
    padding: 2px 0px 0px 5px;
    height: 38px;
    font-size: 14px;
    font-family: "Arial Bold",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -10px;
    width: 294px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: url(%%menu-end%%) no-repeat #000000;
    background-position-x: 274px;
}

.side .md a[href="https://playstation.reddit.com"], 
.side .md a[href="https://ps4.reddit.com"], 
.side .md a[href="https://psvr.reddit.com"], 
.side .md a[href="https://vita.reddit.com"], 
.side .md a[href="https://psx.reddit.com"], 
.side .md a[href="https://ps2.reddit.com"], 
.side .md a[href="https://ps3.reddit.com"], 
.side .md a[href="https://VitaTV.reddit.com"],
.side .md a[href="https://psw.reddit.com"], 
.side .md a[href="https://playstationplus.reddit.com"] {
    width: 30px;
    text-align: left;
    color: #7C7C7C;
    font-size: 10px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    background: url(%%square%%) no-repeat; 
    background-position-y: 3px;
    padding-left: 15px;
}

.side .md a:visited[href="https://playstation.reddit.com"], 
.side .md a:visited[href="https://ps4.reddit.com"], 
.side .md a:visited[href="https://psvr.reddit.com"], 
.side .md a:visited[href="https://vita.reddit.com"], 
.side .md a:visited[href="https://psx.reddit.com"], 
.side .md a:visited[href="https://ps2.reddit.com"], 
.side .md a:visited[href="https://ps3.reddit.com"], 
.side .md a:visited[href="https://VitaTV.reddit.com"],
.side .md a:visited[href="https://psw.reddit.com"], 
.side .md a:visited[href="https://playstationplus.reddit.com"] {
    width: 30px;
    text-align: left;
    color: #7C7C7C;
    font-size: 10px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    background: url(%%square%%) no-repeat; 
    background-position-y: 3px;
    padding-left: 15px;
}

.side .md a:hover[href="https://playstation.reddit.com"], 
.side .md a:hover[href="https://ps4.reddit.com"], 
.side .md a:hover[href="https://psvr.reddit.com"], 
.side .md a:hover[href="https://vita.reddit.com"], 
.side .md a:hover[href="https://playstationplus.reddit.com"] {
    width: 30px;
    text-align: left;
    color: #7C7C7C;
    font-size: 10px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    background: url(%%square-red%%) no-repeat; 
    background-position-y: 3px;
    padding-left: 15px;
}

.side .titlebox h1.redditname {
    display: none;
}

/* Moderator tools */

#moderation_tools {
    position: relative;
    top: -40px;
    right: 10px;
    background-color: #ffffff;
}

/* Create Reddit */

.create {
    position: relative;
    right: 10px;
    top: -30px;
    background-color: #ffffff;
}

.sidebox .subtitle {
    position: relative;
    top: 0px;
}

/* Message Moderators */

.sidecontentbox {
    position: relative;
    top: -30px;
    right: 10px;
}

/*  



h box */

.side #search {
    position: absolute;
    top: 160px;
    right: 24px;
    z-index: 102;
}

.side #search input[type=text] {
    margin-top: 0px;
    width: 278px;
     opacity: 0.7;
}

.side #search input[type=text]:focus {
    margin-top: 0px;
    width: 278px;
    opacity: 0.9;
}

.side #search input[type=text]:hover {
    margin-top: 0px;
    width: 278px;
    opacity: 0.9;
}

/* Login box */

.login-form-side {
    overflow: hidden;
    position: relative;
    right: 10px;
    background-color: #0c0c0c;
    color: #98aaa9;
    border: 0px;
    box-shadow: 0 2px 2px 0 rgb(12, 12, 12),0 3px 1px -2px rgb(12, 12, 12),0 1px 5px 0 rgb(12, 12, 12);
}

/* Under search box */

/* Buttons */

.morelink {
    border: 1px solid transparent;
}

.morelink a {
    color: #ffffff;
    text-transform: uppercase;
    background: #000000;
    transition: background 0.25s;
}

.morelink:hover a {
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 2px;
    background: #f11515;
}

/* --- Submit buttons --- */

/* Removed triangles on ends */

.nub { display: none; }

.sidebox.submit .morelink  {
    width: 145px;
    position: relative;
    right: 10px;
    z-index: 101;  
} 

.sidebox.submit.submit-text {
    position: relative;
    top: -43px;
    right: -152px;
}

.sidebox.submit {
  width: 140px;

}

.side {
   position: relative;
   top: -115px;

}

/* Subscribe button */

.fancy-toggle-button .add,
.res-fancy-toggle-button {
    z-index: 103;
    font-family: "Arial Bold",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    background: url(%%square-green%%) no-repeat;
    font-size: 11px;
    position: relative;
    color: #7C7C7C;
    background-position-y: 2px;
    padding-left: 12px;
    border: none;
}

.fancy-toggle-button .add:hover,
.res-fancy-toggle-button:hover {
    background: url(%%square-red%%) no-repeat;   
    background-position-y: 2px;
}

.fancy-toggle-button .remove,
.res-fancy-toggle-button.remove {
    z-index: 103;
    font-family: "Arial Bold",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    background: url(%%square%%) no-repeat;
    font-size: 11px;
    position: relative;
    color: #7C7C7C;
    background-position-y: 2px;
    padding-left: 12px;
    border: none;
}

.fancy-toggle-button .remove:hover,
.res-fancy-toggle-button.remove:hover {
    background: url(%%square-red%%) no-repeat;
    background-position-y: 2px;
}

/* Subscribers Text */

.subscribers .word, .users-online .word{
    display: none;
}

.subscribers {
    z-index: 150;
    color: #ffffff;
    position: relative;
    width: 289px;
    display: block;
    left: -5px;
    background: url(%%menu-end-red%%) no-repeat #f11515;
    background-position-x: 270px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Arial Bold",Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 2px 0px 0px 5px;
    height: 38px;
}

.users-online {
    color: #ffffff;
    z-index: 150;
    position: relative;
    top: -21px;    
    Font-size: 10px;
    text-transform: uppercase;
    padding-top: 3px;
    left: -7px;
}

.users-online:before {
    background: url(%%square-green%%) no-repeat;
    background-position-y: 2px;
    background-position-x: 6px;
}

.subscribers .number:after { 
    content: " pilots"
}

.users-online .number:after { 
    content: " spectators"
}

/* Flair info */

.flairselector {
    height: auto;
    width: 250px !important;
    top: 10px !important;
    left: 0px !important;
    position: relative !important;
}

.side .titlebox .tagline {
    color: #0c0c0c;
}

a.flairselectbtn {
    width: 25px;
    text-align: left;
    color: #7C7C7C !important;
    display: inline-block;
    text-transform: uppercase;
    background: url(%%square%%) no-repeat;
    background-position-y: 2px;
    padding-left: 14px;
}

a.flairselectbtn:hover{
    width: 25px;
    text-align: left;
    color: #7C7C7C !important;
    display: inline-block;
    text-transform: uppercase;
    background: url(%%square-red%%) no-repeat;
    background-position-y: 2px;
    padding-left: 14px;
}

.side .titlebox .tagline {
    margin: 0px;
}

.leavemoderator {
    display: none;
}

.leavecontributor-button {
    display: none;
}

.bottom {
    display: none;
}

.titlebox form.toggle {
    color: #000000;
    background-color: transparent;
    padding: 5px;
    background-color: transparent;
    padding: 5px;
    width: 255px;
    display: block;
}

/* Sidebar Top Image */

.side:before {
    background: url(%%featured-image%%);
    position: relative;
    top: 0px;
    right: 10px;
    content: "";
    width: 300px;
    height: 200px;
    display: block;
    z-index: 99;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.side .titlebox h1.redditname {
    z-index: 100;
    font-family: Lato,arial,verdana,helvetica,sans-serif;
}


/* Sidebar text  */

.md {
    color: #98aaa9;
    padding: 5px;
}

.side .md p {
    color: #98aaa9;
}


.linkinfo {  /* on comments page only */
    position: relative;
    right: 10px;
}

/*  Extra sidebar box not currently used */

/*.side .titlebox h1.redditname:before {
    background: #0c0c0c;
    content: " ";
    display: block;
    width: 302px;
    z-index: -1;
    height: 76px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}*/

.titlebox h1 a {
    color: #ffffff;
}


/* Content */

.content {
    margin-top: 45px;
}

.link {
    background: rgba(255, 255, 255, .6);
    padding: 4px;
}

.RES-keyNav-activeElement, .RES-keyNav-activeElement .md-container {
    background-color: #f3f3f3 !important;
}


/* Up and Down Vote icons */

.arrow.up { 
    background: url(%%up-grey%%) 0 0;
    background-repeat: no !important;
    width: 14px;
    height: 12px;
    transition: background 0.5s;
} 

.arrow.up:hover { 
    background: url(%%up%%) 0 0;
} 


.arrow.down { 
    background: url(%%down-grey%%) 0 0; 
    background-repeat: no !important;
    width: 14px;
    height: 12px;
    transition: background 0.5s;
} 

.arrow.down:hover { 
    background: url(%%down%%) 0 0; 
}

.arrow.upmod { 
    background: url(%%up%%) 0 0 no-repeat;
    width: 14px;
    height: 12px;
} 

.arrow.downmod { 
    background: url(%%down%%) 0 0; 
    background-repeat: no !important;
    width: 14px;
    height: 12px;
} 

.arrow {
    width: 20px;
}

/* Arrows on Recent Content */

/*
.sidecontentbox .arrow.up { 
    background: url(%%triangle-grey%%) 0 0;
    background-repeat: no !important;
    width: 14px;
    height: 14px;
} 

.sidecontentbox .arrow.down { 
    background: url(%%x-grey%%) 0 0; 
    background-repeat: no !important;
    width: 14px;
    height: 14px;
} 

.sidecontentbox .arrow.upmod { 
    background: url(%%triangle-bright%%) 0 0;
    background-repeat: no !important;
    width: 14px;
    height: 14px;
} 

.sidecontentbox .arrow.downmod { 
    background: url(%%x-bright%%) 0 0; 
    background-repeat: no !important;
    width: 14px;
    height: 14px;
} 8?

.link .score.likes {
    color: #dc5c5f;
}

/* thread thumbnails */

.thumbnail.default { 
    background: url(%%thumbnail-default%%); 
}

.thumbnail.self { 
    background: url(%%thumbnail-default%%); 
}



/* Link Flairs */

.linkflairlabel {
    max-width: none;
}

.linkflair-tv .linkflairlabel {
    color: #999998;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    background: #01c1ae;
    background: -webkit-linear-gradient(#01c1ae, #017f72); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01c1ae, #017f72); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01c1ae, #017f72); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01c1ae, #017f72); /* Standard syntax */
}

.linkflair-tv .linkflairlabel:hover {
    border-radius: 2px;
    background: #017f72;
    background: -webkit-linear-gradient(#017f72, #01c1ae); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#017f72, #01c1ae); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#017f72, #01c1ae); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#017f72, #01c1ae); /* Standard syntax */
} 



.linkflair-PSVR .linkflairlabel {
    color: #999998;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    background: #3fc9fc;
    background: -webkit-linear-gradient(#3fc9fc, #0142aa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3fc9fc, #0142aa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3fc9fc, #0142aa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3fc9fc, #0142aa); /* Standard syntax */
}

.linkflair-PSVR .linkflairlabel:hover {
    border-radius: 2px;
    background: #0142aa;
    background: -webkit-linear-gradient(#0142aa, #3fc9fc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0142aa, #3fc9fc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0142aa, #3fc9fc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0142aa, #3fc9fc); /* Standard syntax */
}

.linkflair-deal .linkflairlabel {
    color: #999998;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    background: #a226d3;
    background: -webkit-linear-gradient(#b748e2, #7501a3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b748e2, #7501a3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b748e2, #7501a3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b748e2, #7501a3); /* Standard syntax */
}

.linkflair-deal .linkflairlabel:hover {
    border-radius: 2px;
    background: #7501a3;
    background: -webkit-linear-gradient(#7501a3, #b748e2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7501a3, #b748e2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7501a3, #b748e2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7501a3, #b748e2); /* Standard syntax */
}

.linkflair-support .linkflairlabel {
    color: #999998;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    background: #42f462;
    background: -webkit-linear-gradient(#42f462, #01b222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#42f462, #01b222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#42f462, #01b222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#42f462, #01b222); /* Standard syntax */
}

.linkflair-support .linkflairlabel:hover {
    border-radius: 2px;
    background: #01b222;
    background: -webkit-linear-gradient(#01b222, #42f462); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01b222, #42f462); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01b222, #42f462); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01b222, #42f462); /* Standard syntax */
}

.linkflair-rant .linkflairlabel {
    color: #999998;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    background: #333333;
    background: -webkit-linear-gradient(#333333, #0c0c0c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333333, #0c0c0c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333, #0c0c0c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333, #0c0c0c); /* Standard syntax */
}

.linkflair-rant .linkflairlabel:hover {
    border-radius: 2px;
    background: #0c0c0c;
    background: -webkit-linear-gradient(#0c0c0c, #333333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0c0c0c, #333333); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0c0c0c, #333333); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0c0c0c, #333333); /* Standard syntax */
}


.linkflair-red .linkflairlabel {
    color: red;
}


/* Link Fiters - Makes subdomain */

html:lang(xx) .linkflair-tv {
    display: none    }

html:lang(vt) .link:not(.linkflair-tv) {
    display: none    }

html:lang(re) .link:not(.linkflair-deal) {
    display: none    }

html:lang(vr) .link:not(.linkflair-PSVR) {
    display: none    }

html:lang(st) .link:not(.linkflair-support) {
    display: none    }

html:lang(ra) .link:not(.linkflair-rant) {
    display: none    }

/* Filter buttons in sidebar */

/* No TV Posts */

.side [href*='#e'] {
    color: #0c0c0c !important;
    padding: 0px 5px 0px 5px;
}

.side a[href*='#e'] {
    border-radius: 2px;
    background: #ffffff;
    background: -webkit-linear-gradient(#ffffff, #999998); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #999998); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #999998); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #999998); /* Standard syntax */
}

.side a[href*='#e']:hover {
    border-radius: 2px;
    background: #999998;
    background: -webkit-linear-gradient(#999998, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#999998, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#999998, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#999998, #ffffff); /* Standard syntax */
}

.side [href*='#xx'] {
    color: #999998 !important;
    padding: 0px 5px 0px 5px;
}

.side a[href*='#xx'] {
    border-radius: 2px;
    background: #fc3f45;
    background: -webkit-linear-gradient(#fc3f45, #aa1111); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fc3f45, #aa1111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fc3f45, #aa1111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fc3f45, #aa1111); /* Standard syntax */
}

.side a[href*='#xx']:hover {
    border-radius: 2px;
    background: #aa1111;
    background: -webkit-linear-gradient(#aa1111, #fc3f45); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#aa1111, #fc3f45); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#aa1111, #fc3f45); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#aa1111, #fc3f45); /* Standard syntax */
}

/* TV */
.side [href*='#vt'] {
    color: #999998 !important;
    padding: 0px 5px 0px 5px;
    margin-bottom: 10px !important;
}

.side a[href*='#vt'] {
    border-radius: 2px;
    background: #01c1ae;
    background: -webkit-linear-gradient(#01c1ae, #017f72); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01c1ae, #017f72); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01c1ae, #017f72); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01c1ae, #017f72); /* Standard syntax */
}

.side a[href*='#vt']:hover {
    border-radius: 2px;
    background: #017f72;
    background: -webkit-linear-gradient(#017f72, #01c1ae); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#017f72, #01c1ae); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#017f72, #01c1ae); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#017f72, #01c1ae); /* Standard syntax */
}


/* PSVR */

.side [href*='#vr'] {
    color: #999998 !important;
    padding: 0px 5px 0px 5px;
    margin-bottom: 10px !important;
}

.side a[href*='#vr'] {
    border-radius: 2px;
    background: #3fc9fc;
    background: -webkit-linear-gradient(#3fc9fc, #0142aa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3fc9fc, #0142aa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3fc9fc, #0142aa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3fc9fc, #0142aa); /* Standard syntax */
}

.side a[href*='#vr']:hover {
    border-radius: 2px;
    background: #0142aa;
    background: -webkit-linear-gradient(#0142aa, #3fc9fc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0142aa, #3fc9fc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0142aa, #3fc9fc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0142aa, #3fc9fc); /* Standard syntax */
}

/* Deals */

.side [href*='#re'] {
    color: #999998 !important;
    padding: 0px 5px 0px 5px;
}

.side a[href*='#re'] {
    border-radius: 2px;
    background: #b748e2;
    background: -webkit-linear-gradient(#b748e2, #7501a3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b748e2, #7501a3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b748e2, #7501a3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b748e2, #7501a3); /* Standard syntax */
}

.side a[href*='#re']:hover {
    border-radius: 2px;
    background: #7501a3;
    background: -webkit-linear-gradient(#7501a3, #b748e2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7501a3, #b748e2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7501a3, #b748e2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7501a3, #b748e2); /* Standard syntax */
}

.side [href*='#st'] {
    color: #999998 !important;
    padding: 0px 5px 0px 5px;
}

.side a[href*='#st'] {
    border-radius: 2px;
    background: #42f462;
    background: -webkit-linear-gradient(#42f462, #01b222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#42f462, #01b222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#42f462, #01b222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#42f462, #01b222); /* Standard syntax */
}

.side a[href*='#st']:hover {
    border-radius: 2px;
    background: #01b222;
    background: -webkit-linear-gradient(#01b222, #42f462); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01b222, #42f462); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01b222, #42f462); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01b222, #42f462); /* Standard syntax */
}

.side [href*='#ra'] {
    color: #cc0066 !important;
    padding: 0px 5px 0px 5px;
}

.side a[href*='#ra'] {
    border-radius: 2px;
    background: #333333;
    background: -webkit-linear-gradient(#333333, #0c0c0c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333333, #0c0c0c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333, #0c0c0c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333, #0c0c0c); /* Standard syntax */
}

.side a[href*='#ra']:hover {
    border-radius: 2px;
    background: #0c0c0c;
    background: -webkit-linear-gradient(#0c0c0c, #333333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0c0c0c, #333333); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0c0c0c, #333333); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0c0c0c, #333333); /* Standard syntax */
}
  
    


.footer {
    background: #020202;
}

.rounded {
    border-radius: 6px;
}

.footer-parent {
    /*background: url(%%box-art%%)  center scroll !important;*/
    /*margin: 0 auto;
    padding: 288px 0 0 0;*/
    padding-bottom: 26%;
    height: 26%;
    background-position: bottom left;
    background-repeat: no-repeat;
   /* background-size: auto 80%;*/
}

.bottommenu {
    color: #98aaa9;
}

/* Submit Thread Page */

.roundfield {
    background-color: #999998;
    border-radius: 2px;
    color: #1668c3;
}

.tabmenu.formtab .selected a {
    font-family: "Arial Bold",Arial,Helvetica,sans-serif;
    color: #999998;
    text-transform: uppercase;
    border-radius: 2px;
    background: #f11515;
    background: -webkit-linear-gradient(#1668c3, #0f4989); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1668c3, #0f4989); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1668c3, #0f4989); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1668c3, #0f4989); /* Standard syntax */
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.tabmenu.formtab .selected a:hover {
    font-family: "Arial Bold",Arial,Helvetica,sans-serif;
    color: #999998;
    text-transform: uppercase;
    border-radius: 2px;
    background: #1668c3;
    background: -webkit-linear-gradient(#0f4989, #1668c3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0f4989, #1668c3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0f4989, #1668c3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0f4989, #1668c3); /* Standard syntax */
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.tabmenu.formtab a {
    text-transform: uppercase;
    border-radius: 2px;
    background: #999998;
    background: -webkit-linear-gradient(#98aaa9, #999998); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#98aaa9, #999998); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#98aaa9, #999998); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#98aaa9, #999998); /* Standard syntax */
    font-weight: bold;
    border: none;
}

.tabmenu.formtab a:hover {
    text-transform: uppercase;
    border-radius: 2px;
    background: #999998;
    background: -webkit-linear-gradient(#999998, #98aaa9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#999998, #98aaa9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#999998, #98aaa9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#999998, #98aaa9); /* Standard syntax */
    font-weight: bold;
    border: none;
}

.linkinfo{
    background-color: #fcbc74;
    border-radius: 2px;
    border: none;
}

.reddit-infobar {
    background-color: #fcbc74;
    border-radius: 2px;
    border: none;
}

.infobar {
    background-color: #fcbc74;
    border-radius: 2px;
    border: none;
}

.content.submit .info-notice {
    background-color: #fcbc74;
    border-radius: 2px;
    border: none;
}

.formtabs-content {
    border-top: 4px solid #1668c3;
}

/* Rules */

.subreddit-rules-page {
    top: 50px;
}


/* Comments */

.comment .midcol {
    margin-right: 10px;
    width: 21px;
}

.link .usertext-body .md {
    background-color: #999998;
    border: 0px;
    border-radius: 2px;
}

/* wiki  */

.wiki-page-content .md h2 {
    font-size: 16px;
}

.wiki-page-content .md h3 {
    font-size: 14px;
}

#header-img {
    display: none;
}
